#RewriteEngine on
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f [OR]
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php?$1 [L, QSA]

# otherwise forward it to index.php 
#RewriteRule ^.*$ - [L]
#RewriteRule ^.*$ index.php [L]
#RewriteRule ^(.*)$ index.php?$1 [L, QSA]
#RewriteRule ^(.*)$ index.php/$1 [QSA,L]

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /index.php [NC,L]

#RewriteBase /
#RewriteEngine on 
#RewriteRule .* index.php